<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreamKrate</title>
    <link rel="stylesheet" href="styles.css">

</head>

<body>



<div class="nav">
    
    <ul class="MainL">
      
      
 
        <li class="logoL">
            <h2 class="logo">StreamKrate</h2>
        </li>

        <ul class="itemsL">

            <li class="home">Home</li>
            <li style="margin-bottom :10px ;"><a href="#About">About</a></li>
            <li style="margin-bottom :10px ;"><a href="#services">Services</a></li>
            <li style="margin-bottom :10px ;"><a href="#CONTACT">Contact Us</a></li>
            <li> <a href="signIn"><button class="btn">SignIn/LogIn</button></li></a>
           

        </ul>

         

    </ul>

<div class="container">

    <div class="left">
        <h1 class="tagline">Share, Send, Store: Seamlessly Share Files Anywhere, Anytime!</h1>
        <h3 class="subtag">We are Your Gateway to Hassle-free File Sharing</h3>
        
      <a href="LogIn"><button class="start">Get Started</button></a>
    </div>



    <div class="right">
        <img src="Images/l2jpg-removebg-preview.png" alt="" class="img">
    </div>


</div>


</div>


<div id="About">
    <h1>About Us</h1>

    <p>Welcome to [Website Name], your go-to platform for seamless and secure file sharing. We understand the importance of effortlessly exchanging files, whether it's for personal or professional use. Our mission is to provide a user-friendly and reliable service that empowers individuals and businesses to share their content with ease.

        <br>
         <br>

        Our Vision
        At [Website Name], we envision a world where file sharing is a breeze, without compromising on security and privacy. We strive to be at the forefront of technological advancements, ensuring that our users have access to the most innovative and efficient file-sharing tools available.

    </p>

</div>

<div id="services">


        <br>
        <br>
        <br>
        <br>
        <br>



        <h2>Our Services</h2>

        <br>
        <br>

        <br>
        <br>

        <table>
            <tr>
                <td>
                    <div class="sec">

                        1.   Security First
                        We take the security of your files seriously. <br>
                        With state-of-the-art encryption protocols and robust access controls, 
                        <br> your data is safeguarded at every step.
    

                    </div>
                
                </td>

                <td> 
                    <img src="Images/securityjpg.jpg" alt="" id="security">

                </td>
            </tr>

            <br>
            <br>


            <tr>
                

                <td>
                    <img src="Images/FNR.jpg" alt="" id="FNR">
                </td>

                <td>
                    <div class="fast">
                        2. Fast and Reliable Transfers
                        Say goodbye to slow uploads and downloads. 
                        <br>We've invested in high-performance servers and 
                        <br>networks to ensure your files get where they need to go quickly and efficiently.
                    </div>
                </td>
                
            </tr>

            <br>
            <br>

            <tr>
                <td>
                    <div class="plat">
                        3. Cross-Platform Compatibility
                        Access your files from any device, anywhere in the world. 
                        <br>Our website is optimized for seamless performance on desktops, laptops, tablets, and mobile phones.
    

                    </div>
                
                </td>

                <td><img src="Images/Screenshot 2023-11-05 052715.png" alt="" id="platform"></td>
            </tr>

            
    
            
        </table>
    

    
        
    

        
        
    

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    <!-- <p>
            
        Our Commitment
        We're committed to providing you with the best file-sharing experience possible. Our team is continuously working to enhance and expand our services, incorporating feedback from our valued users.
        
        Get Started Today
        Join the [Website Name] community and experience a new level of file sharing. Sign up now and start sharing your files with confidence!

    </p> -->
    </div>


    <div id="CONTACT">
        <h2>Contact Us</h2>
        <p>We'd love to hear from you! Whether you have a question, a suggestion, or just want to say hello, feel free to reach out to us using the form below. Our team is committed to providing timely and helpful responses to all inquiries. If you prefer to contact us directly,  We look forward to connecting with you!

        </p>
        <form action="post">
            <table>
                <tr>
                    <td>Name</td>
                    <td> <input type="text" placeholder="Full Name"> </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" placeholder="Email"></td>
                </tr>

                <tr>
                    <td><label for="">Message </label></td>
                    <td><textarea name="" id="MSSG" cols="30" rows="10" placeholder="Enter your message" ></textarea></td>
                </tr>
            </table>
    
            <button type="submit" id="con">Submit</button>

        </form>
    </div>





    
</body>


<footer>



</footer>



<!-- <script src="index.js"></script> -->
</html>